*/.build/*
.build
ditch_mgr/.ipynb_checkpoints
freeze.txt
.idea
*.iml
*.pyc
/Softwarew/40003027_S.zip
/Softwarew/xctu_installer.app
/Softwarew
/webapp/Libraries
/webapp/Libraries/Highcharts-3.0.2.zip
/webapp/Libraries/Highcharts-3.0.2.zip Folder
Highcharts-3.0.2.zip Folder
