{%  extends 'common/site_base.html' %}

{% block title %}Boise Ditch Company{% endblock %}
{% block body %}
    <h1>Boise Ditch Company</h1>

    <div id='ditchcontrol'  ng-controller='DitchController'>
        <button ng-click="ditchStart('north')">Start North</button>
        <button ng-click="ditchStart('south')">Start South</button>
        <button ng-click="ditchStop()">Stop</button>

        <div>
            {% verbatim %}
            <span>Ditch Level:{{ info.ditch_inches }}</span>
            <span>Sump Level:{{ info.sump_inches }}</span>
            <span>Pump Status:{{ info.pump_on}}</span>
            <span>North Status:{{ info.north_on}}</span>
            <span>South Status:{{ info.south_on}}</span>
            {% endverbatim %}
        </div>
    </div>

    <div id="container" ng-controller="LogController">

    </div>


{% endblock body %}

{% block footer %}
<h3>Ya'll come back soon!</h3>

{% endblock %}
