{% load i18n %}

<footer id="footer">
    <div id="footer_wrapper" class="pure-g-r">
        <div id="footer_logo" class="pure-u-1-4">
            <h2>{{ SITE_NAME }}</h2>
        </div>
        <div class="pure-u-1-4">
            <h2>{% trans "Come again!" %} </h2>
            <p>{% trans "We are here for you ditch needs!" %}</p>
        </div>
        <div class="pure-u-1-6">
            <h2>{% trans "Boise Ditch Company" %}</h2>
                <a href="{% url 'about' %}">{% trans "About" %}</a><br>
                <a href="{% url 'contact' %}">{% trans "Contact" %}</a><br>
        </div>
        <div class="pure-u-1-6">
            <h2>{% trans "Connect" %}</h2>
            <a href="https://www.facebook.com/Gardenbuzz" target="_blank">Facebook</a><br>
            <a href="https://twitter.com/gardenbuzz" target="_blank">Twitter</a><br>
        </div>
        <div class="pure-u-1-6">
        </div>
        <section>
            <ul class="">
                <li id="foot_facebook" class="icon"><a href="https://www.facebook.com/Gardenbuzz" target="_blank"><img src="/static/images/facebook/FB-f-Logo__blue_29.png"/></a></li>
                <li id="foot_twitter" class="icon"><a href="https://twitter.com/GardenBuzz" target="_blank"><img src="/static/images/twitter-bird-light-bgs.png" height="30" width="30"/></a></li>
            </ul>

        </section>
        <section><br>
        <p id="footer_copyright">Copyright &copy; 2014 Sharper Tool Gardening LLC, All Rights Reserved.</p>
        </section>
    </div>
</footer>
    
