{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block style_base %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">

    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'less/style_base.less' %}">
        {% block extra_less %}
        {% endblock %}
        <script type="text/javascript">
            var less = {
                env: "development",
                logLevel: 2,
                async: false,
                fileAsync: false,
                poll: {{ less_poll }},
                dumpLineNumbers: "comments",
                relativeUrls: false
            };
        </script>
        <script src="{% static 'js/library/less-1.7.0.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            less.watch();
        </script>
    {% else %}
        <link rel="stylesheet/less" href="{% static 'css/style_base.css' %}">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/mint-choc/jquery-ui-1.10.3.custom.min.css' %}">

    {% block extra_style %}
    {% endblock %}

{% endblock %}

{% block head_title %}
    {% trans "Boise Ditch Company" %}
{% endblock %}

{% block wrapper_class %}wrapper{% endblock %}

{% block header_bar_base %}
    {% include "common/header.html" %}
{% endblock header_bar_base %}

{% block footer_base %}
    {% include "common/footer.html" %}
{% endblock %}

{% block extra_script %}
    <!-- site_base.html: extra_script -->


    <script src="{% static 'js/library/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/library/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/library/underscore.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/library/jquery.download.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/library/json2.js' %}" type="text/javascript"></script>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

    {% if use_less %}
    {% endif %}

    {% block angular_script %}
        <!-- site_base.html: angular_script -->
        <script src="{% static 'js/library/angular/angular.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/angular/angular-resource.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/angular/angular-route.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/angular/angular-cookies.min.js' %}" type="text/javascript"></script>
    {% endblock %}

    {% block ditch_script %}
    {% endblock %}


{% endblock %}
