{%  extends 'common/site_base.html' %}
{% load staticfiles %}

{% block title %}Boise Ditch Company{% endblock %}
{% block body %}
    <h1>Boise Ditch Company</h1>

    <div id='ditchcontrol'  ng-controller='DitchController'>
        <button ng-click="ditchStart('north')">Start North</button>
        <button ng-click="ditchStart('south')">Start South</button>
        <button ng-click="ditchStop()">Stop</button>

        <div>
            {% verbatim %}
            <span>Ditch Level:{{ info.ditch_inches }}</span>
            <span>Sump Level:{{ info.sump_inches }}</span>
            <span>Pump Status:{{ info.pump_on}}</span>
            <span>North Status:{{ info.north_on}}</span>
            <span>South Status:{{ info.south_on}}</span>
            {% endverbatim %}
        </div>
    </div>

    <div id="container" ng-controller="LogController">

    </div>


{% endblock body %}

{% block angular_script %}
    {{ block.super }}
    <script src="{% static 'js/DitchClient.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/DitchClient.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/DitchLib/DitchMain.js' %}" type="text/javascript"></script>
{% endblock %}

{% block ditch_script %}
    <script type="text/javascript">
        BasePath = "/static/js/";
        StaticPath = "/static";
        AngularPartialsBase = '/static/partials';
    </script>

    <script type="text/javascript">
        DitchClient.URLS = _.defaults(DitchClient.URLS,{
            'home' : '{% url "home" %}',
            'about' : '{% url "about" %}',
            'contact' : '{% url "contact" %}'
        });
    </script>

    <script src="{% static 'js/DitchLoad.js' %}" type="text/javascript"></script>
{% endblock %}


{% block footer %}
<h3>Ya'll come back soon!</h3>

{% endblock %}
