<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.redis.redis-ditchmgr</string>
	<key>ProgramArguments</key>
	<array>
        <string>/usr/local/redis/bin/redis-server</string>
        <string>/usr/local/etc/redis-ditchmgr.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/redis/output-ditchmgr.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/redis/output-ditchmgr.log</string>
</dict>
</plist>

